
/*CSS reset start*/
 *, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
/*CSS reset end*/

body {
  background-color: #93BFCF;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.qr {
  background-color: #FFFFFF;
  width: 260px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 20px;
  padding: 15px 15px 30px;
  border-radius: 15px
}

.qrpic {
  height: 230px;
  width: 230px;
  border-radius: 15px;
}

.qrdescription1 {
  font-size: 0.98rem;
  width: 200px;
  margin: auto;
  padding: 10px 0;
}

.qrdescription2 {
  font-size: 0.7rem;
  font-weight: normal;
  width: 200px;
  margin: auto;
}

.challenge-by {
  color: #03001C;
  font-weight: normal;
  font-size: 0.7rem;
  font-family: 'Rajdhani', sans-serif;
  padding-top: 10px;
}

.footer-link {
  text-decoration: none;
  color: #03001C;
}

.footer-link:hover {
  color: #FFFFFF;
}
